interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.coinbase.com/api/v3/brokerage/market/product_book?product_id=BTC-USD&limit=5
  response:
    body:
      string: '{"pricebook":{"product_id":"BTC-USD","bids":[{"price":"67921.52","size":"0.27645558"},{"price":"67920.79","size":"0.01689612"},{"price":"67920.5","size":"0.02210488"},{"price":"67920.31","size":"0.00000588"},{"price":"67920.16","size":"0.00294457"}],"asks":[{"price":"67921.53","size":"0.05022721"},{"price":"67922.55","size":"0.02208398"},{"price":"67922.89","size":"0.08294457"},{"price":"67923.99","size":"0.0029446"},{"price":"67924.09","size":"0.000017"}],"time":"2026-02-22T05:22:23.715993Z"},"last":"67921.525","mid_market":"67921.525","spread_bps":"0.001472287211","spread_absolute":"0.01"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 22 Feb 2026 05:22:24 GMT
      trace-id:
      - '567562723356908943'
      - '567562723356908943'
    status:
      code: 200
      message: OK
version: 1
