interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.coinbase.com/api/v3/brokerage/market/products/BTC-USD
  response:
    body:
      string: '{"product_id":"BTC-USD","price":"67921.53","price_percentage_change_24h":"0.13405454175549","volume_24h":"3265.82472188","volume_percentage_change_24h":"-70.0085704048505","base_increment":"0.00000001","quote_increment":"0.01","quote_min_size":"1","quote_max_size":"150000000","base_min_size":"0.00000001","base_max_size":"3400","base_name":"Bitcoin","quote_name":"US
        Dollar","watched":false,"is_disabled":false,"new":false,"status":"online","cancel_only":false,"limit_only":false,"post_only":false,"trading_disabled":false,"auction_mode":false,"product_type":"SPOT","quote_currency_id":"USD","base_currency_id":"BTC","fcm_trading_session_details":null,"mid_market_price":"","alias":"","alias_to":["BTC-USDC"],"base_display_symbol":"BTC","quote_display_symbol":"USD","view_only":false,"price_increment":"0.01","display_name":"BTC-USD","product_venue":"CBE","approximate_quote_24h_volume":"221819811.82","new_at":"2023-01-01T00:00:00Z","market_cap":"","base_cbrn":"","quote_cbrn":"","product_cbrn":"","icon_color":"","icon_url":"","display_name_overwrite":"","is_alpha_testing":false,"about_description":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 22 Feb 2026 05:22:24 GMT
      trace-id:
      - '6721142555257676205'
      - '6721142555257676205'
    status:
      code: 200
      message: OK
version: 1
