interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.coinbase.com/api/v3/brokerage/market/products/BTC-USD/candles?start=1771651345&end=1771737745&granularity=ONE_HOUR
  response:
    body:
      string: '{"candles":[{"start":"1771736400","low":"67863.77","high":"67995.62","open":"67959.11","close":"67921.53","volume":"50.67386121"},{"start":"1771732800","low":"67929.22","high":"68063.58","open":"68025.88","close":"67959.11","volume":"97.31556303"},{"start":"1771729200","low":"67802.78","high":"68044.75","open":"67889.59","close":"68024.46","volume":"136.55583046"},{"start":"1771725600","low":"67852.71","high":"68200","open":"68138.97","close":"67889.59","volume":"181.19585209"},{"start":"1771722000","low":"67908","high":"68153.57","open":"67920.31","close":"68138.97","volume":"112.98320765"},{"start":"177171[...]
