interactions:
- request:
    body: '{"order_ids": ["nonexistent-order-id"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-sandbox.coinbase.com/api/v3/brokerage/orders/batch_cancel
  response:
    body:
      string: '{"results":[{"success":true,"failure_reason":"UNKNOWN_CANCEL_FAILURE_REASON","order_id":"f898eaf4-6ffc-47be-a159-7ff292e5cdcf"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trace-id:
      - '1852157028004658599'
      - '1852157028004658599'
    status:
      code: 200
      message: OK
version: 1
