interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-sandbox.coinbase.com/api/v3/brokerage/orders/historical/batch
  response:
    body:
      string: '{"orders":[{"order_id":"aa934bbb-1261-4d9f-8556-f7273aa0f5b3","product_id":"BTC-USD","user_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","order_configuration":{"limit_limit_gtc":{"base_size":"1","limit_price":"70000.44","post_only":false,"rfq_disabled":false,"reduce_only":false}},"side":"SELL","client_order_id":"spot_order_1","status":"CANCELLED","time_in_force":"GOOD_UNTIL_CANCELLED","created_time":"2024-07-18T19:06:32.135980Z","completion_percentage":"0","filled_size":"0","average_filled_price":"0","fee":"","number_of_fills":"0","filled_value":"0","pending_cancel":false,"size_in_quote":false,"total_fees":"0","size_inclusive_of_fees":false,"total_value_after_fees":"0","trigger_status":"INVALID_ORDER_TYPE","order_type":"LIMIT","reject_reason":"REJECT_REASON_UNSPECIFIED","settled":false,"product_type":"SPOT","reject_message":"","cancel_message":"User
        requested cancel","order_placement_source":"RETAIL_ADVANCED","outstanding_hold_amount":"0","is_liquidation":false,"last_fill_time":null,"edit_history":[],"leverage":"","margin_type":"UNKNOWN_MARGIN_TYPE","retail_portfolio_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","originating_order_id":"","attached_order_id":"","attached_order_configuration":null,"current_pending_replace":null,"commission_detail_total":null,"workable_size":"","workable_size_completion_pct":"","product_details":null,"cost_basis_method":"COST_BASIS_METHOD_UNSPECIFIED","displayed_order_config":"UNKNOWN_DISPLAYED_ORDER_CONFIG","equity_trading_session":"UNKNOWN_EQUITY_TRADING_SESSION","prediction_side":"PREDICTION_SIDE_UNKNOWN","last_update_time":null},{"order_id":"ff6e8dad-22c4-422d-bbf2-3c55b70e42d2","product_id":"BTC-USD","user_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","order_configuration":{"limit_limit_gtc":{"base_size":"1","limit_price":"70000.44","post_only":false,"rfq_disabled":false,"reduce_only":false}},"side":"SELL","client_order_id":"spot_order_2","status":"OPEN","time_in_force":"GOOD_UNTIL_CANCELLED","created_time":"2024-06-28T15:16:47.696748Z","completion_percentage":"0","filled_size":"0","average_filled_price":"0","fee":"[...]
