interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api-sandbox.coinbase.com/api/v3/brokerage/orders/historical/fills
  response:
    body:
      string: '{"fills":[{"entry_id":"f8b3aa2ba0825457bad20056c52cbe51177af5dd2f66dc55445640f95658f1f3","trade_id":"d006d1e0-cf64-4cdf-8fe1-8441221cd96f","order_id":"37f17b89-cd9e-41eb-9187-2df6aa72f895","trade_time":"2024-06-27T20:32:06.568973Z","trade_type":"FILL","price":"70000.44","size":"0.00137199","commission":"0.3841596147024","product_id":"BTC-USD","sequence_timestamp":"2024-06-27T20:32:06.574070Z","liquidity_indicator":"MAKER","size_in_quote":false,"user_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","side":"SELL","retail_portfolio_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","fillSource":"FILL_SOURCE_UNKNOWN","commission_detail_total":null},{"entry_id":"49e5397c27030f629a3f02c8a359022fa295b96681e1a630b4dd94eca3837582","trade_id":"0b639999-60d1-4b9c-bf2e-90b3b5f48dfd","order_id":"439e8aa4-47ab-48f6-bb44-33907960e92f","trade_time":"2024-06-18T19:59:10.102220957Z","trade_type":"FILL","price":"60000.44","size":"1","commission":"480.00352","product_id":"BTC-USD","sequence_timestamp":"2024-06-18T19:59:10.111915Z","liquidity_indicator":"UNKNOWN_LIQUIDITY_INDICATOR","size_in_quote":false,"user_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","side":"BUY","retail_portfolio_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","fillSource":"FILL_SOURCE_UNKNOWN","commission_detail_total":null},{"entry_id":"dc91f6cd8c78f47685530484bf34585769b062f8fd1497e0e503388928d69614","trade_id":"2a013f5a-f8e1-4f73-b15b-336fcf4d88d6","order_id":"48c3142a-3601-40b0-bb42-ac88872fe40a","trade_time":"2024-06-18T19:58:42.263681859Z","trade_type":"FILL","price":"61000.44","size":"1","commission":"488.00352","product_id":"BTC-USD","sequence_timestamp":"2024-06-18T19:58:42.265863Z","liquidity_indicator":"UNKNOWN_LIQUIDITY_INDICATOR","size_in_quote":false,"user_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","side":"BUY","retail_portfolio_id":"eec99928-3d46-5b38-a1ca-122d0e5fb7f0","fillSource":"FILL_SOURCE_UNKNOWN","commission_detail_total":null}],"cursor":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trace-id:
      - '3397852223518302121'
      - '3397852223518302121'
    status:
      code: 200
      message: OK
version: 1
